<launch>

    <node pkg="planning_ros_utils"
        type="cloud_to_map"
        name="cloud_to_map">
        <remap from="cloud_to_map/cloud" to ="/rtabmap/cloud_map"/>
        <param name="origin_x" value="-25"/>
        <param name="origin_y" value="-10"/>
        <param name="origin_z" value="-10"/>

        <param name="range_x" value="50"/>
        <param name="range_y" value="20"/>
        <param name="range_z" value="20"/>
    </node>

    <node pkg="mpl_test_node"
        type="map_planner_3d_node"
        name="map_planner_3d_node"
        output="screen">
    </node>


    <node pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(find mpl_test_node)/launch/map_planner_3d_node/test.rviz">
    </node>
</launch>